<?xml version="1.0" encoding="utf-8"?>
<!--
  IIS Configuration for PR Reviewer Bot on Windows Server
  This configuration enables Node.js applications to run on IIS using iisnode
-->
<configuration>
  <system.webServer>
    
    <!-- Enable iisnode to handle Node.js applications -->
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode"/>
    </handlers>
    
    <!-- URL Rewrite rules to route requests to Node.js -->
    <rewrite>
      <rules>
        <!-- Don't interfere with node-inspector -->
        <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^server.js\/debug[\/]?" />
        </rule>
        
        <!-- First we consider whether the incoming URL matches a physical file in the /public folder -->
        <rule name="StaticContent">
          <action type="Rewrite" url="public{REQUEST_URI}"/>
        </rule>
        
        <!-- All other URLs are mapped to the Node.js site entry point -->
        <rule name="DynamicContent">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True"/>
          </conditions>
          <action type="Rewrite" url="server.js"/>
        </rule>
      </rules>
    </rewrite>
    
    <!-- Configure iisnode settings -->
    <iisnode 
      node_env="production"
      nodeProcessCommandLine="&quot;C:\Program Files\nodejs\node.exe&quot;"
      interceptor="&quot;C:\Program Files\iisnode\interceptor.js&quot;"
      enableXFF="true"
      promoteServerVars="LOGON_USER,AUTH_USER,AUTH_TYPE"
      configOverrides="deployment/windows-iis/iisnode.yml"
      watchedFiles="*.js;*.json;iisnode.yml"
      loggingEnabled="true"
      logDirectory="logs"
      maxLogFileSizeInKB="128"
      maxTotalLogFileSizeInKB="1024"
      maxLogFiles="20"
      devErrorsEnabled="false"
      debuggingEnabled="false"
      debugHeaderEnabled="false"
      debuggerPortRange="5058-6058"
      debuggerPathSegment="debug"
      maxConcurrentRequestsPerProcess="1024"
      maxNamedPipeConnectionRetry="100"
      namedPipeConnectionRetryDelay="250"
      maxNamedPipeConnectionPoolSize="512"
      maxNamedPipePooledConnectionAge="30000"
      asyncCompletionThreadCount="0"
      initialRequestBufferSize="4096"
      maxRequestBufferSize="65536"
      uncFileChangesPollingInterval="5000"
      gracefulShutdownTimeout="60000"
      recycleSignalEnabled="false"
      idlePageOutTimePeriod="0"
      />
    
    <!-- Security settings -->
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="52428800" /> <!-- 50MB -->
        <fileExtensions>
          <remove fileExtension=".js" />
          <add fileExtension=".js" allowed="true" />
        </fileExtensions>
      </requestFiltering>
    </security>
    
    <!-- Error pages -->
    <httpErrors errorMode="Detailed" />
    
    <!-- Default document -->
    <defaultDocument>
      <files>
        <clear />
        <add value="server.js" />
      </files>
    </defaultDocument>
    
    <!-- Static content caching -->
    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="7.00:00:00" />
    </staticContent>
    
  </system.webServer>
  
  <!-- Application settings that can be accessed via process.env -->
  <appSettings>
    <add key="NODE_ENV" value="production" />
    <add key="PORT" value="process.env.PORT" />
    <add key="WEBSITE_NODE_DEFAULT_VERSION" value="18.17.0" />
  </appSettings>
  
</configuration>
